<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script>
            $(document).ready(function(){
                var durations = [{% for duration in _durations %}{{duration*1000}},{% endfor %}];
                var schedules = [{% for schedule in _schedules %}{{ schedule }},{% endfor %}];

                var slides = $('#main_slides');
                slides.slick({
                    autoplay: true,
                    autoplaySpeed: 1000,
                    arrows: false,
                    pauseOnFocus: false,
                    pauseOnHover: false,

                });

                var lastSlide = 0;
                slides.on('afterChange', function(event, slick, currentSlide, nextSlide){
                    console.log('update');
                    lastSlide = currentSlide;
                    slick.slickSetOption('autoplaySpeed', durations[currentSlide]);
                    slick.slickUnfilter();
                    slick.slickFilter(function (index) {
                        var schedule_type = schedules[index]['type'];
                        var schedule_from = schedules[index]['from'].split(':');
                        var schedule_to = schedules[index]['to'].split(':');
                        var schedule_dow = schedules[index]['day_of_week'];

                        if (schedule_type == 'ALWAYS_VISIBLE') {
                            return true;
                        } else if (schedule_type == 'ALWAYS_HIDDEN') {
                            return false;
                        }

                        var default_visibility = schedule_type == 'HIDDEN_ON_TIME';
                        var now_time = new Date();
                        var from_time = new Date();
                        from_time.setHours(...schedule_from);

                        var to_time = new Date();
                        to_time.setHours(...schedule_to);

                        console.log(from_time.getTime());
                        console.log(now_time.getTime());
                        console.log(to_time.getTime());

                        var on_schedule = schedule_dow[now_time.getDay()] &&
                                (from_time.getTime() <= now_time.getTime() && now_time.getTime() <= to_time.getTime());

                        return default_visibility ^ on_schedule;
                    });

                    if (slick.slideCount < 2) {
                        setTimeout(function (){slides.trigger('afterChange', [slick, currentSlide, nextSlide]);}, 10000);
                    }
                });
            });
        </script>
        <style>
            * {
                cursor: none;
            }

            :focus {
                outline: 0;
            }

            body {
                margin: 0;
            }

            .frame {
                position: fixed;
                height: 100vh;
                width: 100vw;
                z-index: 100;
            }

            .scenes {
                height: 100vh;
                display: flex !important;
            }
        </style>
    </head>
    <body>
        {% include _frame %}
        <div id="main_slides">
            {% for scene in _scenes %}
            {% include scene %}
            {% endfor %}
        </div>
    </body>
</html>
