.menu_group_scene {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu_group_scene p {
    font-size: 48px;
}

.menu_group_scene .message {
    font-size: 12px;
}

.menu_group_scene .title {
    font-size: 64px;
    font-style: oblique;
}