.bottom_clock {
    display: flex;
    align-items: flex-end;
}

.bottom_clock > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: #000;
}

.bottom_clock p {
    font-size: 32px;
    color: #fff;
    padding: 8px;
    white-space: nowrap;
}

.bottom_clock .clock_body {
    width: 100%;
}

.bottom_clock .close_body {
    justify-content: flex-end;
}

.bottom_clock .close_body p {
    font-size: 18px;
    text-align: end;
}